.page {
  width: 99%;
  max-width: 960px;
  border: 0.5px solid #59a9b5;

  &__header {
    padding: 20px;
    background-color: #ebebeb;
    border-left: 8px solid #59a9b5;
    font-size: 28px;
  }

  &__column1 {
    padding: 40px 0;
    background-color: #1b1e2f;
    color: white;
  }

  &__column2 {
    padding-top: 20px;
  }

  &__text {
    margin-left: 28px;
    margin-right: 20px;
  }

  &__list {
    margin-top: 0;
    padding-left: 20px;
  }
}

.list {
  list-style: none;
  padding-left: 28px;

  &__link {
    text-decoration: none;
    color: white;
  }

  &__contact {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 16px;
      height: 16px;
      background-size: cover;
    }

    &--city::before {
      background-image: url('../public/position.png');
    }

    &--phone::before {
      background-image: url('../public/phone.png');
    }

    &--email::before {
      background-image: url('../public/email.png');
    }
  }
}

@media (min-width: 650px) {
  .page {
    display: grid;
    grid-template-areas:
      "title title"
      "skills info";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 150px auto;
  
    &__header {
      grid-area: title;
      margin: 0;
    }
  
    &__column1 {
      grid-area: skills;
    }
  
    &__column2 {
      grid-area: info;
    }
  }
}

@media (min-width: 960px) {
  .page {
    margin: auto;
  }
}
